/* 全局css样式 */
html,
body,
#app {
    height: 100%;
    min-width: 1366px;
}

* {
    margin: 0;
    padding: 0;
}

.el-breadcrumb {
    font-size: 12px;
    margin-bottom: 15px;
}

.el-card {
    box-shadow: 0 1px 1px rgb(0, 0, 0, 0.15) !important;
}

.el-table {
    margin-top: 15px;
    font-size: 12px;
    /**解决element-ui table页面抖动问题*/
    width: 99.9% !important;
}

.el-pagination {
    margin-top: 15px;
}